body{
	overflow: hidden;
}
.topBanner{
	/*margin: 10px;*/
	width: 100%;
	height: 10%;
	display: inline-block;
	vertical-align: top;
	overflow: auto;
	background-color: #7478f7;
}
.leftColumn{
	/*margin: 10px;*/
	width: 20%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	overflow: auto;
	/*background-color: #7478f7;*/
}
.middleColumn{
	/*margin: 10px;*/
	width: 70%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	overflow: auto;
	background-color: #7478f7;
}
.rightColumn{
	/*margin: 10px;*/
	width: 10%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	overflow: auto;
	/*background-color: #7478f7;*/
}




button, .btn {
	border-radius: 10px;
	background-color: white;/*#CC261A; /* Carthage #931919 */
	border: 2px solid #931919;
	color: #931919;
	padding: 5px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.btn:hover, button:hover{
	border: 2px solid #52b265;
	color: #52b265;
}
